/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: #FAFAFA !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237,237,237, 0.5)), color-stop(100%, rgba(153,153,153, 0.5))), url(white_leather.png),;
  background-image: -webkit-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url(white_leather.png);
  background-image: -moz-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url(white_leather.png);
  background-image: -ms-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url(white_leather.png);
  background-image: -o-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url(white_leather.png);
  background-image: linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url(white_leather.png);
  height: 1000px; 
  margin: 0px;
}

#header {
  height: 150px;
  width: 100%;
  margin: auto;
  border-bottom: 2px solid aliceblue;
  vertical-align: middle;
} 

#header ul {
  background: none repeat scroll 0 0 #F5F0F2;
  border: 2px solid aliceblue;
  /*border-radius: 50px 0 0 50px;*/
  float: right;
  height: 18px;
  padding: 8px;
  position: relative;
  top: 130px;
  width: 100%;
}

.left_side {
  float: left;
  width: 100px;
  /*margin-left: 26px;*/
  position:  fixed;
  top: 150px;
}

.left_side ul {
  display: block;
}

.left_side ul li {
  float: left;
  display: inline;
  width: 100%;
  background:white;
  position: relative;
}

ul {
  list-style-type:none;
  margin:0;
  padding:0;
  float: right;
}

li {
  display:inline;
}

a {
	/*display:block;*/
	width:60px;
}

#main .content {
  float: left;
  width: 80%;
  margin-left: 98px;
  height: 1000px;
  border-left: 2px solid aliceblue;
}

#footer {
  bottom: 0px;
  /*height: 50px;*/
  position: relative;
  text-align: center;
  width: 100%;
  border-top: 2px solid aliceblue;
  margin: auto;
  float: left;
}

#footer .footer {
  border: 2px solid aliceblue;
  border-radius: 50px 0px 0px 50px;
  float: right;
  /*margin: 65px auto;*/
  padding: 0px;
  position: relative;
  top: -20px;
  height: 18px;
  padding: 8px;
  background: #EDE8EA;
  width: 200px;
}

#footer .footer p {
  font-size: 10px;
  color: #777777;
  line-height: 0px;
}