%ul
	%li
		%a{:href=>'#'}  link1
	%li
		%a{:href=>'#'}  link1
	%li
		%a{:href=>'#'}  link1
	%li
		%a{:href=>'#'}  link1
	%li
		%a{:href=>'#'}  link1
	%li
		%a{:href=>'#'}  link1
	%li
		%a{:href=>'#'}  link1												